.pagination {
  margin: 12px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination .page_size {
  margin: 0 4px;
  min-width: 30px;
  height: 30px;
  padding: 0 2px;
}

.pagination .btn {
  height: 30px;
  padding: 0 8px;
  border-radius: 3px;
  margin: 0 2px;
  color: #999;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
}

.pagination .btn:last-child {
  margin-right: 0;
  padding-right: 0;
}

.pagination .btn.active {
  /* background-color: #008000; */
  color: #000;
  font-weight: 600;
}

.pagination .btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}