.userItem_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #cccccc;
  position: relative;
}

.userItem_container .actions {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
}

.userItem_container .actions .action {
  cursor: pointer;
  color: #ccc;
  margin-bottom: 10px;
  display: none;
}

.userItem_container:hover .actions .action {
  display: block;
}

.userItem_container .actions .action:hover {
  color: #666;
}

.userItem_container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.userItem_container:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px #aaaaaa;
  background-color: #fcfcfc;
}

.td_login {
  display: flex;
  align-items: center;
}

.td_login img {
  max-width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.td_actions {
  text-align: center;
}

.td_actions .action {
  margin-right: 10px;
  opacity: 0.3;
  cursor: pointer;
}

.td_actions .action:hover {
  opacity: 0.8;
}