.search_container {
  display: flex;
  align-items: center;
  margin: 6px 0 16px;
}

.search_container input {
  flex: 1;
}

.search_container button {
  margin-left: 8px;
  height: 45px;
  min-width: 100px;
  color: #ffffff;
  background-color: #008000;
}