.connection_alert {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.875rem;
}

.online {
    background-color: rgba(0,255,0,0.4);
    border: 1px solid #00ff00;
}

.offline {
    background-color: rgba(255,0,0,0.2);
    border: 1px solid #ff0000;
}


