.main_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

input {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  height: 45px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}